<p id="notice"><%= notice %></p>

<p>
  <b>Uuid:</b>
  <%= @user.uuid %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Hashed Password:</b>
  <%= @user.password_hash %>
</p>

<p>
<b><%= link_to 'Display Events', "/events/phone/#{@user.phone_number}" %></b>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
