<% @edit_fields.each do |field, name| %>
    <div>
      <%= label :content, name %>
      <%= text_field :content, field, :id => field, :value => "" %>
    </div>
<% end %>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field :content, 'b', :id => 'encrypted_content', :value => "" %>
  </div>
  <%= hidden_field(:user, :id, :value => @event.user_id) %>
  <div class="actions" style='display:none;'>
    <%= f.submit %>
  </div>

<% end %>
  <INPUT TYPE="button" NAME="myButton" VALUE="Update Event" onClick="submitButton()" > 
<script type="text/javascript">
  <% ['startTime', 'endTime'].each do |time| %>
    AnyTime.picker( "<%= time %>",
	 	    { format: "%I:%i%p %b %d, %Y", firstDOW: 1 } );
  <% end %>
 
</script>

<script type="text/javascript">
  var encryptedData=<%= raw @contents %>;
  if(encryptedData != null){
  	var unencryptedData=encryptionHelpers.unencrypt(encryptedData);
  	var unencryptedEvent=jQuery.parseJSON(unencryptedData);
  	var startTime=new Date(unencryptedEvent['startTime']);
  	var endTime= new Date(unencryptedEvent['endTime']);
 	unencryptedEvent['startTime']=startTime.toLocaleString();
  	unencryptedEvent['endTime']=endTime.toLocaleString();
  	$('#startTime').attr('value', startTime); 
  	$('#endTime').attr('value', endTime);
  	$('#name').attr('value', unencryptedEvent['name']);
  	$('#notes').attr('value', unencryptedEvent['notes']); 		
  }
   function submitButton(){
    var passwd = "hello";
    var startDate=new Date($('#startTime').attr('value'));
    var endDate=new Date($('#endTime').attr('value'));
    var content = new Array();
    content['startTime'] = startDate.getTime();
    content['endTime'] = endDate.getTime();
    content['name'] = $('#name').attr('value');
    content['notes'] = $('#notes').attr('value');
    content['tag'] = $('#tag').attr('bla');
    var encrypted_content = GibberishAES.enc(JSON.stringify(content), passwd);
    $('#encrypted_content').attr('value', encrypted_content);
    document.forms[0].submit();
  } 	


</script>

