<!--
This partial view is used to both show events and create events
-->
<STYLE TYPE="text/css">
  .inputfield  {
    width: 350px;
    font-size:100%}
  }
</STYLE>
<table>
<% @edit_fields.each do |field, name| %>
  <% if name == 'Notes'%>
      <td><%= label :content, name %> </td>
      <td><%= text_area :content, field, :id => field, :rows => "2",
        :class => 'inputfield'%> </td>
  <% else %>
    <tr>
      <td><%= label :content, name %> </td>
      <td><%= text_field :content, field, :id => field, :value => "",
          :class => 'inputfield' %></td>
    </tr>
  <% end %>
<% end %>
  <tr>
    <td><%= label :content, 'End time' %> </td>
    <td><%= text_field :content, 'endTime', :id => 'endTime', :value => "",
            :class => 'inputfield'%></td>
  </tr>
</table>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field :content, 'b', :id => 'encrypted_content', :value => "" %>
  </div>
  <%= hidden_field(:user, :id, :value => @event.user_id) %>
  <div class="actions" style='display:none;'>
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript" src="/csp_scripts/show_event.js"></script>
