<% @edit_fields.each do |field, name| %>
  <div>
    <%= label :content, name %>
    <%= text_field :content, field, :id => field, :value => "" %>
  </div>
<% end %>
  <div>
    <%= label :content, 'End time' %>
    <%= text_field :content, 'endTime', :id => 'endTime', :value => "" %>
  </div>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field :content, 'b', :id => 'encrypted_content', :value => "" %>
  </div>
  <%= hidden_field(:user, :id, :value => @event.user_id) %>
  <div class="actions" style='display:none;'>
    <%= f.submit %>
  </div>

<% end %>

<script type="text/javascript">
  <% ['startTime', 'endTime'].each do |time| %>
    AnyTime.picker( "<%= time %>",
	{ format: "%I:%i %p %b %d, %Y", firstDOW: 1 } );
  <% end %>
 
  <% if @contents %>
    var encryptedData=<%= raw @contents %>;
    encryptedData = encryptedData.replace(/[ \r\n]+/g,'');
    var unencryptedData=encryptionHelpers.unencrypt(encryptedData);

    var unencryptedEvent=jQuery.parseJSON(unencryptedData);
    var startTime=new Date(unencryptedEvent['startTime']);
    var endTime= new Date(unencryptedEvent['endTime']);
    unencryptedEvent['startTime']=dateHelpers.formatDateTime(unencryptedEvent['startTime']);
    unencryptedEvent['endTime']=dateHelpers.formatDateTime(unencryptedEvent['endTime']);
    $('#startTime').attr('value', unencryptedEvent['startTime']);
    $('#endTime').attr('value', unencryptedEvent['endTime']);
    $('#name').attr('value', unencryptedEvent['name']);
    $('#notes').attr('value', unencryptedEvent['notes']);
    $('#tag').attr('value', unencryptedEvent['tag']);
  <% end %>

   function submitButton(){
    var passwd = localStorage.pwd;
    var startTimeString = $('#startTime').attr('value');
    var endTimeString = $('#endTime').attr('value');

    var content = {};
    content['startTime'] = Date.parse(startTimeString);
    content['endTime'] = Date.parse(endTimeString);
    content['name'] = $('#name').attr('value');
    content['notes'] = $('#notes').attr('value');
    content['tag'] = $('#tag').attr('value');
    <% if @contents %>
      content['gpsCoordinates'] = unencryptedEvent['gpsCoordinates'];
    <% else %>
      content['gpsCoordinates'] = [];
    <% end %>
    var encrypted_content = GibberishAES.enc(JSON.stringify(content), passwd);
    $('#encrypted_content').attr('value', encrypted_content);
    document.forms[0].submit();
  } 	

// Resize the fancybox to make room for the datepicker
$('#startTime').click(function() {
  fancyboxHelpers.resize(document);
})
// Resize the fancybox to make room for the datepicker
$('#endTime').click(function() {
  fancyboxHelpers.resize(document);
})
// Resize the window in case the default sizes provided were too small.
$(window).load(function() {
  fancyboxHelpers.resize(document);
});
</script>
