<!-- This hidden link is used by fancybox in order to display a login box if
     the user needs to login -->
<%= feedback_includes %>
<a class="iframe" style="display:none;" id="hidden_link" href="/login"></a>
<link rel='stylesheet' type='text/css' href='/fullcalendar/fullcalendar.css' />
<link type="text/css" rel="stylesheet" href="/jquery-ui-1.8.13/css/redmond/jquery-ui-1.8.13.custom.css"/>
<script src="/jquery-ui-1.8.13/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript" charset="utf-8"> </script>
<script type='text/javascript' src='/fullcalendar/fullcalendar.js'></script>
<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen, projection" />
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/csp_scripts/calendar.js"></script>
<ul id="toolbar" class="ui-helper-reset ui-helper-clearfix ui-widget-header
                        ui-corner-all">
  <%= link_to 'Create a new Event', "/#{@user.phone_number}/new",:class => 'create_event' %>
  <%= link_to 'View Pie Chart', "/#{@user.phone_number}/charts", :class => 'pi_chart' %>
  <%= link_to 'View Timeline', "/#{@user.phone_number}/timeline", :class => 'timeline' %>
  <%= link_to 'View Table', "/#{@user.phone_number}/table", :class => 'table' %>
  <button id="logout" type="button" style = "float:right;"> Logout </button>
</ul>
<br /> <br />
<div id='calendar'></div>
<div id="dialog" title="Dialog Title"></div>

