<p id="notice"><%= notice %></p>

<p>
  <b>Uuid:</b>
  <%= @event.uuid %>
</p>

<p>
  <b>Content:</b>
  <%= @event.content %>
</p>

<p>
  <b>User:</b>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
