<% columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => nil, :class => "last"},] %>
<%= raw datatable(columns, {:sort_by => "[8, 'desc']", :processing => image_tag("spinner.gif") }) %>
<h2>
  Showing all events for user with phone number '<%= @user.phone_number %>'
</h2>
<%= link_to 'Create a new Event', "/#{@user.phone_number}/new" %>
<%= link_to 'View charts', "/#{@user.phone_number}/charts" %>

<table id='events' class='datatable'>
  <thead>
    <tr>
      <th>Events Name</th>
      <th>Notes</th>
      <th>Category</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th/>
      <th/>
      <th/>
      <th style="display:none;"/>
    </tr>
  </thead>
  <tbody>
    <% @event_content_pairs.each do |event, content| %>
      <tr>
	<td><%= content['name'] %></td>
	<td><%= content['notes'] %></td>
	<td><%= content['tag'] %></td>
	<td><%= content['startTime'] %></td>
	<td><%= content['endTime'] %></td>
	<td><%= link_to 'Map', "/#{@user.phone_number}/map/#{event.id}" %></td>
	<td><%= link_to 'Edit', edit_event_path(event) %></td>
	<td><%= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete, :phone_number => @user.phone_number %></td>
	<td style="display:none;"><%= content['startTimeR'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
