<% columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}] %>
<%= raw datatable(columns, {:jquery_ui => "true", :sort_by => "[8, 'desc']", :processing => image_tag("spinner.gif")}) %>

<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<link type="text/css" rel="stylesheet" href="/jquery-ui-1.8.13/css/redmond/jquery-ui-1.8.13.custom.css"/>

<script src="/jquery-ui-1.8.13/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript" charset="utf-8"> </script>

<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

<table id='events' class='datatable'>
  <thead>
    <tr>
      <th>Events Name</th>
      <th>Notes</th>
      <th>Category</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th/>
      <th/>
      <th/>
      <th style="display:none;"/>
    </tr>
  </thead>
  <tbody>
 
    <% @events.each_with_index do |event,indexOfEvent| %>
      <tr class='event_row'>
		<td id='name'></td>
		<td id='notes'></td>
		<td id='tag'></td>
		<td id='startTimeR'></td>
		<td id='endTimeR'></td>
		<td><%= link_to 'Map', "/#{@user.phone_number}/map/#{event.id}", :onclick=>"checkForGPSData(#{indexOfEvent});", :id => 'map_link', :class => 'mapping' %></td>
		<td><%= link_to 'Edit', edit_event_path(event), :class => 'editingEvent' %></td>
		<td><%= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete, :phone_number => @user.phone_number %></td>
		<td style="display:none;" id='startTime'></td>
      </tr>
	
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

  var encryptedData=<%= raw @contents %>;
  
  for (var i=0; i<encryptedData.length; i++) {
    encryptedData[i] = encryptedData[i].replace(/[ \r\n]+/g,'')
  }
  var unencryptedData=encryptionHelpers.unencryptAll(encryptedData);
  var unencryptedEvents=new Array();
  for(var i=0; i < unencryptedData.length;i++){
    unencryptedEvents[i]=jQuery.parseJSON(unencryptedData[i]);
  }
  	
  var row_elements = ['name', 'notes', 'tag', 'startTime'];
  var index=0;
  $('.event_row').each(function () {
    var event_data = unencryptedEvents[index];

    for (var i=0; i<row_elements.length; i++) {
      var param_name = row_elements[i];
      $(this).find('#' + param_name).html(event_data[param_name]);
    }

    var startTime = new Date(event_data['startTime']);
    var endTime = new Date(event_data['endTime']);
    $(this).find('#startTimeR').text(dateHelpers.formatDateTime(event_data['startTime']));
    $(this).find('#endTimeR').html(dateHelpers.formatDateTime(event_data['endTime']));
	
	$(document).ready(function(){
	    $(".editingEvent").fancybox({
	         'width' : '60%',
	         'height' : '68%',
	         'autoScale' : false,
	         'transitionIn' : 'none',
	         'transitionOut' : 'none',
	         'type' : 'iframe',
			 'onClosed': function() {
				location.reload(true); ;
			}
	     });
	 
	     });
		
	if(typeof event_data['gpsCoordinates'] == "undefined" || event_data['gpsCoordinates'].length < 1){
		var newLink="<% @user.phone_number %>#";
		//$(this).find('#map_link').attr('href',newLink);
		$(this).find('#map_link').remove();
	}else{
			
			$(this).find('#map_link').fancybox({
				 'width' : '75%',
				 'height' : '75%',
				 'autoScale' : false,
				 'transitionIn' : 'none',
				 'transitionOut' : 'none',
				 'type' : 'iframe'
		 });
	 
	
	}
	
    index++;
	
	
	
  });
  function checkForGPSData(indexOfEvent){
		if(unencryptedEvents[indexOfEvent]['gpsCoordinates'].length < 1)
			alert('No GPS data available');
	}
</script>
