<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Log in', :style => "display:none;"%>
  </div>
<% end %>

<script type="text/javascript">
  function storePassAndSubmit() {
    var pw = $('#user_session_password').attr('value');
    sessionStorage.setItem('pwd', pw);
    var b64_password = b64_md5(pw);
    $('#user_session_password').attr('value', b64_password);
    $('#new_user_session').submit();
  }
</script>

<button type="button" onClick="storePassAndSubmit();">Log in</button>
<br/>
