<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> </h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div "field">
    <%= f.password_field :password, :style => "display:none;" %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Log in', :style => "display:none;"%>
  </div>
<% end %>

<div class="field">
  <%= label :password, 'Password' %>
  <br />
  <%= password_field :content, 'password', :id => 'password', :value => "" %>
</div>

<button id = "login_button" type="button">Log in</button>
<br/>
